pip~=23.2.1
wheel~=0.41.2
setuptools~=68.2.0
fastapi~=0.115.11
uvicorn
uvicorn[standard]
psycopg2-binary~=2.9.10
psycopg2~=2.9.10
asyncpg
firebase-admin~=6.7.0

pydantic~=2.10.6
requests~=2.32.3
python-dotenv~=1.0.1